body{
  background: url(img2.jpg) no-repeat center center fixed;
  background-size: cover;

}
.hero{
  color: #fff;
  margin-top: 10%;
  text-align: center;
  font-size: 75px;
  letter-spacing: -0.05em;
  line-height: 1.2em;
  font-family: 'Rye', cursive;
}
.ima{
    height: 100px;
    width: 200px;
}
